body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffe45e;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.logo-text {
  margin-left: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav a,
.demo-button {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.try-demo a {
  text-decoration: none;
  color: inherit;
}

.demo-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
}

.hero {
  background-color: black;
  padding: 20px;
  text-align: center;
}

.main-heading,
.sub-heading,
.description {
  color: white;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  text-align: left;
  color: white;
}

.person-spotlight {
  width: auto;
  height: 295px;
  margin-left: 100px;
}

.hero h1 {
  font-size: 30px;
}

.hero h2 {
  font-size: 48px;
}

.hero p {
  font-size: 16px;
}

.try-demo {
  font-size: 18px;
  background-color: #ffe45e;
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  margin: 20px 5px;
  margin-top: 5px;
}

#content {
  text-align: center;
  padding: 20px;
}

input[type="file"] {
  margin: 10px 0;
}

.container {
  background-image: url("/static/assets/3d-rendering-biometrics.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
  border: 15px solid #ffe45e;
}

.container p {
  line-height: 1.5;
}

h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto 35px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.button {
  background-color: #ffe45e;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-color 0.3s;
  margin-top: 5px;
}

.button:hover {
  background-color: #ec971f;
}

#content {
  background-image: url("/static/assets/upload-img.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

#content h1 {
  margin-bottom: 30px;
}

.container-test,
.container-technical {
  background-color: #ffe45e;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-technical h1,
.skill-category h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #d35400;
}

.skill-category {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-category {
  flex: 1;
  min-width: 250px;
}

.project-team,
.team-container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-profile {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

.profile-photo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.profile-details h2,
.profile-details .major,
.profile-details p {
  margin: 0;
  padding: 0;
  width: 100%;
}

.project-team h1 a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.project-team h1 a:hover {
  color: #ffe45e;
}

.major {
  font-style: italic;
  color: #555;
  margin-top: 5px;
  font-size: 14px;
}

.linkedin-icon {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

.linkedin-link {
  display: block;
  text-decoration: none;
}

.footer {
  background-color: #fff;
  padding: 20px 0;
  color: #000;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  gap: 800px;
}

.footer-icon {
  width: 50px;
  margin-right: 20px;
}

.footer-links h3 {
  margin: 0 0 10px 0;
  color: #678398;
  font-size: 14px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  line-height: 25px;
  text-decoration: none;
  color: #678398;
}

@media (max-width: 860px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .person-spotlight {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  .text-content {
    order: -1;
  }
}
